*.bak
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.LCK
*.lck
*.mo
*.orig
*.pyc
*.pyc
*.pyd
*.pyo
*.pyo
*.rej
*.so
*~
.bzr
.coverage
.DS_Store
.hg
.installed.cfg
.metadata
.mr.developer.cfg
.project
.pydevproject
.secret.cfg
.settings
.svn
bin/
build
buildout-cache/
develop-eggs/
dist/
downloads/*
eggs/*
fake-eggs/*
include/
lib/
local/
parts/*
src
var/
venv/
